{% extends widget.get_base_template %}
{% load i18n %}

{% block content %}
<a class="ajax-modal btn btn-primary btn-lg order-list-btn" href="{% url 'order_sth' %}" onclick="UpdateModalFormOrder();">Objednávací list</a>
<script type="text/javascript">
function UpdateModalFormOrder() {
    setTimeout(function(){
        var x = document.getElementById("order_form_kkadavy").parentElement;
        x.style.backgroundImage="url('/static/img/pozadi_plain_blue.jpg')";
        var y = x.childNodes[1];
        y.style.borderBottom = "none";
        y.getElementsByTagName("H3")[0].style.color = "white";
        y.getElementsByTagName("H3")[0].style.textAlign = "center";
    }, 1);
}
</script>
{% endblock %}